
/* グローバルリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }

html, body {
    overflow-x: hidden;
    background-color: #FEFBF4; 
    color: #492B2D; 
}


// CSS

.slick-slide {
  height: auto;
  transform: scale(.70); 
  transition: opacity .5s, transform .5s; 
  width: 100%;
}

/* 中央のスライド */
.slick-center {
  transform: scale(1);
}

@keyframes borderAnimation {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}


/* contactページ */
/* @media (min-width: 768px) {
  .target{
    animation: floating-y 2s ease-in-out infinite alternate-reverse;
  }
  @keyframes floating-y {
    0% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(5%);
    }
  }
} */
