.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }

html, body {
    overflow-x: hidden;
    background-color: #FEFBF4; 
    color: #492B2D; 
}


/* header用 */
:root {
  --color-text: #3b82f6; /* 好きな色でOK。これはTailwindで言う blue-500 */
}

.text_hover {
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  background-image: linear-gradient(
    90deg,
    var(--color-text) 0%,
    var(--color-text) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 0% 4px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 2px;
  transition: background-size 0.3s ease;
}

@media (any-hover: hover) {
  .text_hover:hover {
    background-size: 200% 4px;
    animation-name: borderAnimation;
    animation-duration: 0.75s;
    animation-timing-function: var(--ease-in-out-quart);
    animation-iteration-count: 1; /* ← ここ！1回だけにする */
    animation-fill-mode: forwards; /* ← アニメ後、最後の状態をキープ */
  }
}

@keyframes borderAnimation {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}
.text_hover {
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  background-image: linear-gradient(
    90deg,
    var(--color-text) 0%,
    var(--color-text) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 0% 4px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 2px;
  transition: background-size 0.6s ease;
}

@media (any-hover: hover) {
  .text_hover:hover {
    background-size: 200% 2px;
    animation-name: borderAnimation;
    animation-duration: 0.75s;
    animation-timing-function: var(--ease-in-out-quart);
    animation-iteration-count: 1; /* ← ここ！1回だけにする */
    animation-fill-mode: forwards; /* ← アニメ後、最後の状態をキープ */
  }
}

@keyframes borderAnimation {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}


/* contactページ */
@media (min-width: 768px) {
  .target{
    animation: floating-y 2s ease-in-out infinite alternate-reverse;
  }
  @keyframes floating-y {
    0% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(5%);
    }
  }
}
